<div
  class="card"
  (click)="navigateToDetail()"
  (mouseover)="hover = true"
  (mouseleave)="hover = false"
>
  <h2 *ngIf="title.title">{{ title.title }}</h2>
  <p *ngIf="title.description" class="description">
    {{ truncate(title.description, 120) }}
  </p>
  <p *ngIf="title.duration">
    {{ convertToHoursOrSeason(title.duration) }}
  </p>
  <div class="tag-div" *ngIf="title.type && hover">
    <p class="tags">{{ title.type }}</p>
  </div>
  <div class="tag-div" *ngIf="title.listed_in && hover">
    <p class="tags" *ngFor="let item of title.listed_in.split(', ')">
      {{ item }}
    </p>
  </div>
</div>
