<div class="login-container">
  <div class="login-box">
    <h2>Login</h2>
    <form (ngSubmit)="tryLogin()" *ngIf="!loading">
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          [(ngModel)]="loginDetails.email"
          name="email"
          required
        />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          [(ngModel)]="loginDetails.password"
          name="password"
          required
        />
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
    <div *ngIf="loading" class="loading-spinner"></div>
    <div>
      <p>
        Not registered yet?
        <span class="register-link" (click)="navigateToRegister()"
          >Register here</span
        >
      </p>
    </div>
  </div>
</div>
