<nav *ngIf="authService.loggedInUser.email !== ''" class="navbar">
  <div class="navbar-left">
    <span (click)="navigateToHome()" class="navbar-brand">FletNix</span>
  </div>
  <div class="navbar-center">
    <input
      type="text"
      class="search-bar"
      placeholder="Search title or cast..."
      (keyup)="onSearch($event)"
    />
  </div>
  <div class="navbar-right">
    <span class="navbar-greet">Hi {{ authService.loggedInUser.email }}</span>
    <span (click)="logout()" class="navbar-logout">Logout</span>
  </div>
</nav>
<div class="page">
  <router-outlet></router-outlet>
</div>
