<app-loading-bar *ngIf="loading" />
<div *ngIf="!loading">
  <div *ngIf="titleList.length !== 0">
    <div class="filter">
      <label id="typeFilter">Filter by Type:</label>
      <mat-radio-group
        aria-labelledby="typeFilter"
        [(ngModel)]="query.type"
        (change)="applyFilter()"
      >
        <mat-radio-button value=""><span>All</span></mat-radio-button>
        <mat-radio-button value="movie"><span>Movie</span></mat-radio-button>
        <mat-radio-button value="tv show"
          ><span>TV Show</span></mat-radio-button
        >
      </mat-radio-group>
    </div>
    <div class="container">
      <app-title-card
        *ngFor="let title of titleList"
        [title]="title"
      ></app-title-card>
    </div>
    <div class="pagination" *ngIf="totalPages > 1">
      <button
        [disabled]="currentPage === 1"
        (click)="goToPage(currentPage - 1)"
      >
        <
      </button>
      <button [disabled]="currentPage === 1" (click)="goToPage(1)">1</button>
      <span *ngIf="currentPage - 1 > 2">...</span>
      <div class="middle-buttons" *ngFor="let page of pages">
        <button
          *ngIf="
            page === currentPage - 1 ||
            page === currentPage ||
            page === currentPage + 1
          "
          [disabled]="currentPage === page"
          (click)="goToPage(page)"
        >
          {{ page }}
        </button>
      </div>
      <span *ngIf="totalPages - currentPage > 2">...</span>
      <button
        *ngIf="totalPages > 1"
        [disabled]="currentPage === totalPages"
        (click)="goToPage(totalPages)"
      >
        {{ totalPages }}
      </button>
      <button
        [disabled]="currentPage === totalPages"
        (click)="goToPage(currentPage + 1)"
      >
        >
      </button>
    </div>
  </div>
  <h1 class="no-result-message" *ngIf="titleList.length === 0">
    Something went wrong, please try again later
  </h1>
</div>
