/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  background-image: linear-gradient(
    to right,
    rgb(0, 0, 0),
    rgb(27, 0, 74),
    rgb(100, 0, 13)
  );
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
